name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libmpv-dev

      - name: Test
        run: dotnet test Baird.Tests/Baird.Tests.csproj
